.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2.5em;
    color: rgb(54, 54, 55);
}

.header-underline {
    width: 20%;
    height: 5px;
    background-color: #fdf105;
}
